html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #270000;
}

html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* color: #fff; */
  z-index: 1000;
  height: 8vh;
  display: inline-block;
  margin-top: auto;
}

nav,
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 5px;
}

nav li {
  /* margin: 0 10px; */
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: dodgerblue;
  display: flex;
}

section {
  min-height: 100vh;
  width: 80vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add more CSS styles for your specific design */
#home {
  background-color: #2c3e50;
}

.main-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-pic img {
  margin-top: 4.6rem;
}

#videos {
  background-color: #ecf0f1;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #2b3044;
  margin-bottom: 2rem;
}

.section-header h1 {
  font: 400 32px "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.video-gallery {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 15px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1500px;
  padding: 55px 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.video-gallery .gallery-item {
  position: relative;
  width: 200px;
  height: 250px;
  background: #000;
  cursor: pointer;
  overflow: hidden;
  flex-basis: 22%;
}

.video-gallery .gallery-item img {
  position: relative;
  display: block;
  width: 115%;
  height: 300px;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.35s, transform 0.35s;
  transition: all 350ms ease-in-out;
  transform: translate3d(-23px, 0, 0);
  /*backface-visibility: hidden;*/
}

.north-cascades-img {
  object-position: 50% 30%;
}

.video-gallery .gallery-item .gallery-item-caption {
  padding: 32px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-gallery .gallery-item h2 {
  font-weight: 300;
  overflow: hidden;
  padding: 12px 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
  position: relative;
  margin: 0;
  z-index: 1;
  pointer-events: none;
}

.video-gallery .gallery-item p {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 12px 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
  opacity: 0.3;
  transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item .gallery-item-caption {
  text-align: left;
}

.video-gallery .gallery-item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 1px;
  background: #fff;
  transition: transform 0.3s;
  transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after {
  transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 784px) {
  .video-gallery {
    width: 100%;
    padding: 15px;
  }
  .video-gallery .gallery-item {
    width: 95%;
    margin: 0 auto;
    width: 100%;
  }
}

.slider {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item .content {
  position: absolute;
  top: 45%;
  width: 1140px;
  max-width: 80%;
  left: 40%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.slider .list .item .type {
  color: #14ff72cb;
}
.slider .list .item .button {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.slider .list .item .button button {
  border: none;
  background-color: #eee;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 2px;
}

.slider .list .item .button button:hover {
  letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* Thumbnail Section  */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrows Section  */
.nextPrevArrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.nextPrevArrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #14ff72cb;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type {
  animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1s !important;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.slider.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
  pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
  }
  .slider .list .item .content .title {
    font-size: 50px;
  }
}

#testimonials {
  background-color: rgb(7, 70, 1);
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.content-wrapper {
  height: 100%;
  width: 70%;
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  border: 2px solid red;
}

h1 {
  margin-bottom: calc(0.7rem + 0.5vmin);
  font-size: calc(1.6rem + 1vmin);
  color: rgb(79, 143, 226);
}

.blue-line {
  height: 0.3rem;
  width: 6rem;
  background-color: rgb(79, 143, 226);
  margin-bottom: calc(3rem + 2vmin);
}

.wrapper-for-arrows {
  position: relative;
  width: 80%;
  border-radius: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.review-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(2rem + 1vmin);
  width: 100%;
  background-color: rgb(25, 40, 46);
}

#imgDiv {
  border-radius: 50%;
  width: calc(7rem + 4vmin);
  height: calc(7rem + 4vmin);
  position: relative;
  box-shadow: 5px -3px rgb(79, 143, 226);
  background-size: cover;
  margin-bottom: calc(1.5rem + 0.5vmin);
}

/* .chicken {
	background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s");
	width: 200px;
	height: 250px;
	position: absolute;
	top: 12%;
} */

/* #imgDiv::after {
	content: "''";
	font-size: calc(2rem + 2vmin);
	font-family: sans-serif;
	line-height: 150%;
	color: #fff;
	display: grid;
	place-items: center;
	border-radius: 50%;
	background-color: rgb(79, 143, 226);
	position: absolute;
	top: 10%;
	left: -10%;
	width: calc(2rem + 2vmin);
	height: calc(2rem + 2vmin);
} */

#personName {
  margin-bottom: calc(0.7rem + 0.5vmin);
  font-size: calc(1rem + 0.5vmin);
  letter-spacing: calc(0.1rem + 0.1vmin);
  font-weight: bold;
  color: white;
}
/* 
#profession {
	font-size: calc(0.8rem + 0.3vmin);
	margin-bottom: calc(0.7rem + 0.5vmin);
	color: rgb(255, 255, 255);
} */

#description {
  font-size: calc(0.8rem + 0.3vmin);
  width: 70%;
  max-width: 40rem;
  text-align: center;
  margin-bottom: calc(1.4rem + 1vmin);
  color: rgb(255, 255, 255);
  line-height: 2rem;
}

.arrow-wrap {
  position: absolute;
  top: 50%;
}

.arrow {
  width: calc(1.4rem + 0.6vmin);
  height: calc(1.4rem + 0.6vmin);
  border: solid rgb(79, 143, 226);
  border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
  cursor: pointer;
  transition: transform 0.3s;
}

.arrow:hover {
  transition: 0.3s;
  transform: scale(1.15);
}

.left-arrow-wrap {
  left: 5%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

/* .surprise-me-btn {
	border: 2px solid rgb(79, 143, 226);
	background-color: rgb(224, 238, 255);
	color: rgb(79, 143, 226);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(7rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
}

.surprise-me-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
} */
/* 
.move-head {
	animation: moveHead 1.55s infinite;
	animation-delay: -0.8s;
}

.hide-chicken-btn {
	border: 2px solid rgb(226, 89, 79);
	background-color: rgb(255, 224, 224);
	color: rgb(226, 79, 79);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(10rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
}

.hide-chicken-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
} */

/* @keyframes moveHead {
	0% {
	}
	25% {
		transform: translate(0.5rem, 1rem) rotate(5deg);
	}
	100% {
		transform: translate(0, 0) rotate(-5deg);
	}
}

@media screen and (max-width: 900px) {
	.content-wrapper {
		width: 100%;
	}
} */

#setlist {
  background-color: rgb(44, 45, 46);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.songlist_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2e;
  padding: 10rem;
  gap: 5rem;
}

section.left,
section.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* section.right {
  flex-basis: 60%;
} */
section.left .contactTitle h2 {
  position: relative;
  font-size: 28px;
  color: #ddd;
  display: inline-block;
  margin-bottom: 25px;
}
section.left .contactTitle h2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #888;
  top: 120%;
  left: 0;
}
section.left .contactTitle h2::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 3px;
  background-color: dodgerblue;
  top: calc(120% - 1px);
  left: 0;
}
section.left .contactTitle p {
  font-size: 17px;
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 22px;
}
section.left .contactInfo {
  margin-bottom: 16px;
}
.contactInfo .iconGroup {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}
.iconGroup .icon {
  width: 45px;
  height: 45px;
  border: 2px solid dodgerblue;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}
.iconGroup .icon i {
  font-size: 20px;
  color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iconGroup .details span {
  display: block;
  color: #888;
  font-size: 18px;
}
.iconGroup .details span:nth-child(1) {
  text-transform: uppercase;
  color: #ccc;
}
section.left .socialMedia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 22px 0px 20px;
}
.socialMedia a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  border-radius: 5px;
  background-color: dodgerblue;
  transition: 0.4s;
}
.socialMedia a i {
  color: #ddd;
  font-size: 18px;
  line-height: 35px;
  border: 1px solid transparent;
  transition-delay: 0.4s;
}
.socialMedia a:hover {
  transform: translateY(-5px);
  background-color: #2e2e2e;
  color: dodgerblue;
  border: 1px solid dodgerblue;
}
.socialMedia a:hover i {
  color: dodgerblue;
}

/* Code for the right section (column) */

section.right .messageForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  /* border: 1px solid whitesmoke; */
  /* padding: 80px; */
}
section.right .inputGroup {
  margin: 18px 0px;
  position: relative;
}
.messageForm .halfWidth {
  flex-basis: 48%;
}
.messageForm .fullWidth {
  flex-basis: 100%;
}
.messageForm input,
.messageForm textarea {
  width: 100%;
  font-size: 18px;
  padding: 2px 0px;
  background-color: #2e2e2e;
  color: #ddd;
  border: none;
  border-bottom: 2px solid #666;
  outline: none;
}
.messageForm textarea {
  resize: none;
  height: 220px;
  display: block;
}
textarea::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  border-radius: 15px;
}
.inputGroup label {
  position: absolute;
  left: 0;
  bottom: 4px;
  color: #888;
  font-size: 18px;
  transition: 0.4s;
  pointer-events: none;
}
.inputGroup:nth-child(4) label {
  top: 2px;
}
.inputGroup input:focus ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:valid ~ label {
  transform: translateY(-30px);
  font-size: 16px;
}
.inputGroup button {
  padding: 8px 16px;
  font-size: 18px;
  background-color: dodgerblue;
  color: #ddd;
  border: 1px solid transparent;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
.inputGroup button:hover {
  background-color: #2e2e2e;
  color: dodgerblue;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid dodgerblue;
}
@media (max-width: 1100px) {
  .messageForm .halfWidth {
    flex-basis: 100%;
  }
}
@media (max-width: 900px) {
  .container {
    flex-wrap: wrap;
  }
  section.left,
  section.right {
    flex-basis: 100%;
    margin: 0px;
  }
}
